name: Build

on:
  workflow_dispatch:
  push:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          lfs: 'true'
      - uses: DeterminateSystems/nix-installer-action@main
      - uses: rrbutani/use-nix-shell-action@v1
      - run: cargo fmt --check
      - run: just clippy

  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          lfs: 'true'
      - uses: DeterminateSystems/nix-installer-action@main
      - uses: rrbutani/use-nix-shell-action@v1
      - run: just ci-test

  build-linux:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          lfs: 'true'
      - uses: DeterminateSystems/nix-installer-action@main
      - uses: rrbutani/use-nix-shell-action@v1
      - run: just ci-build "main"

  build-wasm:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          lfs: 'true'
      - uses: DeterminateSystems/nix-installer-action@main
      - uses: rrbutani/use-nix-shell-action@v1
      - run: just ci-build-wasm "main"
      - run: just ci-build-pages "main"
      - uses: actions/upload-artifact@v5
        with:
          name: pages
          path: ./target/pages

  deploy-pages:
    if: github.actor != 'dependabot[bot]'
    runs-on: ubuntu-latest
    needs: [lint, test, build-wasm]
    steps:
      - uses: actions/checkout@v6
      - uses: actions/download-artifact@v6
        with:
          name: pages
          path: ./public

      - name: List Artifacts
        run: ls ./public

      - name: Deploy
        uses: cloudflare/wrangler-action@v3
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          command: pages deploy ./public --project-name=${{ secrets.CLOUDFLARE_PAGES_PROJECT_NAME }}
