name: Build

on:
  workflow_dispatch:
  push:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          lfs: 'true'
      - uses: DeterminateSystems/nix-installer-action@main
      - uses: rrbutani/use-nix-shell-action@v1
      - run: cargo fmt --check
      - run: just clippy

  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          lfs: 'true'
      - uses: DeterminateSystems/nix-installer-action@main
      - uses: rrbutani/use-nix-shell-action@v1
      - run: just ci-test

  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          lfs: 'true'
      - uses: DeterminateSystems/nix-installer-action@main
      - uses: rrbutani/use-nix-shell-action@v1
      - run: just ci-build "main"

  build-wasm:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          lfs: 'true'
      - uses: DeterminateSystems/nix-installer-action@main
      - uses: rrbutani/use-nix-shell-action@v1
      - run: just ci-build-wasm "main"
