name: update-flake-lock
on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 1 * *'

jobs:
  lockfile:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: DeterminateSystems/nix-installer-action@main
      - uses: DeterminateSystems/update-flake-lock@v28
        with:
          token: ${{ secrets.NIX_UPDATE_FLAKE_TOKEN }}
          pr-title: "Update flake.lock"
          pr-labels: |
            dependencies
            automated
          branch: "update/flake-lock"
